// Specific CSS for your home-page
body {
  background: rgb(236,224,209);
  color:rgb(56,34,15);
  font-family: 'Josefin Sans', sans-serif;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: rgb(99,72,50);
  border-radius: 1rem;
  width: 100%;
  padding: 2vh 0;
}

nav > a {
  color: rgb(237, 230, 168);
  text-decoration: none;
  font-family: 'Marcellus', serif;
}

nav:hover {
  background: rgb(56,34,15);
  transition: 2s;
}

.sub-nav {
  display: flex;
  flex-direction: row;
}

.sub-nav:hover h3 {
  color: white;
  transition: 0.5s;
}

.nav-img {
  height: 5rem;
  filter: drop-shadow(8px 8px 10px rgb(0, 0, 0));
}

h3 {
  color: rgb(222, 219, 206);
  font-size: 2rem;
  margin-left: 1vw;
  font-family: 'Josefin Sans', sans-serif;
}

p{
  font-family: 'Josefin Sans', sans-serif;
}

main {
  display: flex;
  height: auto;
  margin-top: 10px;
}

.coffees {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(219, 209, 195);
  border: 1px solid rgb(99,72,50);
  border-radius: 2rem;
  width: 60%;
  flex-direction: column;
  padding: 0 2vw;
  margin-right: 1vw;
  box-shadow: 9px 13px rgba(75, 75, 75, 0.5);
}

.coffees:hover {
  background: rgb(247, 244, 240);
  box-shadow: 9px 13px rgba(75, 75, 75, 0.8);
  transition: 2s;
}

.beans {
  max-width: 700px;
  height: auto;
}

.coffee-grid {
 display: grid;
 grid-template-columns: auto auto auto;
 /* padding: 1em 1em; */
 background: inherit;
}

.grid-img {
  height: 17vh;
  /* padding: 1vh; */
  padding: 2vh 2vw;
}

.btn1 {
  background: rgb(99,72,50);
  padding: 7px 6px;
  margin-bottom: 2vh;
  font-size: large;
  font-weight: bold;
  color: rgb(237, 230, 168);
  border-radius: 3px;
  text-decoration: none;
  width: 6vw;
  text-align: center;
}

.btn1:hover {
  background: rgb(56,34,15);
  transition: 2s;
}

.community {
  width: 40%;
  margin-left: 1vw;
  border-radius: 2rem;
}

.grower {
  filter: sepia(.5) hue-rotate(-8deg) saturate(1.3) drop-shadow(8px 8px 10px gray)
  ;
  width: 100%;
  border-radius: 2rem;
}

.grower:hover {
  filter: sepia(.5) hue-rotate(-8deg) brightness(105%) saturate(1.3) drop-shadow(8px 8px 10px rgb(75, 74, 74))
  ;
  transition: all 2s;
  width: 100%;
  border-radius: 2rem;
}

.grower-info {
  display: flex;
  height: auto;
  margin: 10px;
}

.coffeesplash {
  height: 73vh;
  width: 100%;
  border-radius: 2rem;
}

.coffeesplash:hover {
  transition: all 2s;
  border-radius: 2rem;
}

.people {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(219, 209, 195);
  border: 1px solid rgb(99,72,50);
  border-radius: 2rem;
  flex-direction: column;
  padding: 0 2vw;
  margin-left: 1vw;
  box-shadow: 9px 13px rgba(75, 75, 75, 0.5);
}

.people:hover {
  background: rgb(247, 244, 240);
  box-shadow: 9px 13px rgba(75, 75, 75, 0.8);
  transition: 2s;
}
/*
.people {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(219, 209, 195);
  border: 1px solid rgb(99,72,50);
  border-radius: 2rem;
  width: 60%;
  flex-direction: column;
  padding: 0 2vw;
  margin-right: 1vw;
  box-shadow: 9px 13px rgba(75, 75, 75, 0.5);
}

.people:hover {
  background: rgb(247, 244, 240);
  box-shadow: 9px 13px rgba(75, 75, 75, 0.8);
  transition: 2s;
}
*/
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: rgb(99,72,50);
  border-radius: 1rem;
  width: 100%;
  padding: 2vh 0;
}

footer > a {
  color: rgb(237, 230, 168);
  text-decoration: none;
  font-family: 'Marcellus', serif;
}

footer:hover {
  background: rgb(56,34,15);
  transition: 2s;
}

/*styles only for card */
.card {
  display: flex;
  border-top: 1px solid rgb(99,72,50);
  box-shadow: 0 12px 20px 5px rgba(56,34,15,0.7);
  margin: 1vh;
  min-width: 35vw;
  max-width: 42vw;
  height: auto;
}

.card:hover {
  background: rgb(247, 244, 240);
  box-shadow: 0 12px 20px 5px rgba(56,34,15,0.9);
  transition: 1s;
}

.card-img {
  height: 18vh;
  width: 10vw;
}

.card-content {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.card-header {
  color: black;
  margin: 5px 0 0 0;
}

.price {
  font-style: italic;
  color: black;
  font-size: small;
}

/*end card styles*/