<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>homepage mockup</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <nav>
      <div class='sub-nav'>
        <img src="images/banner.svg" alt="coffee logo" class='nav-img'>
        <h3>coffee exchange</h3>
      </div>
      <a href="">buy coffee</a>
      <a href="">sell coffee</a>
      <a href="">browse coffee</a>
      <a href="">find coffee</a>
      <a href="">sign up</a>
    </nav>
    <main>
        <div class='coffees'>
          <!-- <img src="images/beans.png" alt="coffees image" class='beans'> -->
          <div class='coffee-grid'>
            <img src="images/coffee1.jpg" alt="good coffee" class='grid-img'>
            <img src="images/coffee2.jpg" alt="good coffee" class='grid-img'>
            <img src="images/coffee3.jpg" alt="good coffee" class='grid-img'>
            <img src="images/coffee4.jpg" alt="good coffee" class='grid-img'>
            <img src="images/coffee5.jpg" alt="good coffee" class='grid-img'>
            <img src="images/coffee6.jpg" alt="good coffee" class='grid-img'>
            <img src="images/coffee7.jpg" alt="good coffee" class='grid-img'>
            <img src="images/coffee8.jpg" alt="good coffee" class='grid-img'>
            <img src="images/coffee9.jpg" alt="good coffee" class='grid-img'>
          </div>
          <p>find the most amazing artisnal coffee in the world</p>
          <a href="#" class='btn1'>discover</a>
        </div>
        <div class='community'>
          <img src="images/grower.jpg" class='grower' alt="coffee grower" style='width: 100%; height: auto; object-fit: contain;'>
        </div>
    </main>
    <section class='grower-info'>
      <div>
        <img src="images/coffee-splash.jpg" alt="coffee" class='coffeesplash'>
      </div>
      <div>
        <div class='people'>
          <!-- <img src="images/beans.png" alt="coffees image" class='beans'> -->
          <div class='coffee-grid'>
            <img src="images/cg1.jfif" alt="good coffee" class='grid-img'>
            <img src="images/cg2.jfif" alt="good coffee" class='grid-img'>
            <img src="images/cg3.jfif" alt="good coffee" class='grid-img'>
            <img src="images/cg4.jfif" alt="good coffee" class='grid-img'>
            <img src="images/cg5.jfif" alt="good coffee" class='grid-img'>
            <img src="images/cg6.jfif" alt="good coffee" class='grid-img'>
            <img src="images/cg7.jfif" alt="good coffee" class='grid-img'>
            <img src="images/cg8.jfif" alt="good coffee" class='grid-img'>
            <img src="images/cg9.jfif" alt="good coffee" class='grid-img'>
          </div>
          <p>meet the amazing people who grow world class coffee</p>
          <a href="#" class='btn1'>community</a>
        </div>
      </div>
    </section>
    <footer>
      <a href="">buy coffee</a>
      <a href="">sell coffee</a>
      <a href="">browse coffee</a>
      <a href="">find coffee</a>
      <a href="">sign up</a>
    </footer>
  </body>
</html>


<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<p>Here is where all of our coffee community members are located:</p>
<div id="map"
     style="width: 100%; height: 300px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<%= link_to "View coffees", coffees_path %>
<%= link_to "View orders", orders_path %>
